/* ABOUT */

body {font: normal 16px Arial;
 	margin: 16px 10%;
	background-color: rgb(203, 200, 200);}

h1 {font-style: bold;
	color: rgb(0, 30, 255);}

h2 {color: rgb(0, 30, 255);}

h4 {font-style: bold;
	color: rgb(71, 171, 85);}

/* How To*/

body {font: normal 16px Arial;
 	margin: 16px 10%;
	background-color: rgb(203, 200, 200);}

h1 {font-style: bold;
	color: #6C291B;}

/* GAME */

	ul.game {
 	   	list-style-type: none;
  	   	position: relative;
		width: 100px;
  	   	text-align: center;
           	float: right;	
	   	color: blue;	
	}

	li.game {
  	  	display: block;	
  	  	padding: 8px 16px;
   		
	}

	li.game a:hover {
    		background-color: #5DB259;
    		color: white;
	}

/* PANEL DE CONTROL */

ul {
    list-style-type: none;
    position: relative;
    width: 200px;
    text-align: center;
    float: left;	 
    color: blue;
}

li {
    display: block;	
    color: green;	
    background-color: #FFFFFF;
}


/* NAVE */

#nave{text-align:center;
		position:fixed;
		top:10%;
		right:45%}
